#myWhy{
    font-size: 28px;
    font-style: italic;
    margin: 40px 0 40px 0;
    text-align: center;
    line-height: 60px;
    animation: fadein 2s;
    height: 180px;
    text-shadow: 2px 2px black;
}

#whyBk{
    background: url('../images/why-bkgd.png');
    background-size: 972px 262px;
    animation: fadein 2s;
    width: 972px;
}

#w{
    background-color: #a93647;
    color: white;
}

#myWhyMobile{
    text-align: center;
    animation: fadein 3s;
    text-shadow: 2px 2px black;
    font-size: 22px;
    line-height: 40px;
}

#whyMobileBk{
    background: url('../images/why-mobile.png') no-repeat;
    background-position: top center;
    height: 280px;
    animation: fadein 2s;
}
