#pnf-mobile-container{
    padding: 10px 0 1px 0;
}

#pnf-mobile{
    font-size: 25px;
    color: #E9996E;
}

#pnf-container{
    padding: 50px 0 40px 0;
}

#pnf{
    color: #E9996E;
    font-size: 40px;
}