/* GLOBAL */
#header, button, #siteBody, #footer, #mobileHdr, #mobileFooter{
  font-family: 'Roboto', sans-serif !important;
}

a:hover{
  text-decoration: none !important;
}

.App{
  margin: 0 auto;
}

/*////  DESKTOP  ////*/

#AppDesktop{
  max-width: 1000px;
  min-width: 1000px;
}


/* HEADER */
#header{
  padding-top: 40px;
}

#hdr{
  color: #c6c6c6;
}

/* ICONS */
#github, #linkedin, #email{
  height: 30px;
  margin: 35px 0 0 10px;
  float: right;
}

#linkedin:hover, #github:hover, #email:hover, #mobileIcon:hover{
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

/* BUTTONS */

/* Global */

button{
  width: 250px;
  height: 50px;
  margin: 10px 0 10px 0 !important;
  font-size: 25px !important;
  border-radius: 10px round !important;
  border-color: #333333 !important;
  text-align: center !important;
}

button:hover{
  background-color: #333333 !important;
}

.btn:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

/* Who Button */

#who:hover, #whoMobile:hover{
  color: #E9996E !important;
}

.is-active > button#who, .is-active > button#whoMobile{
  background-color: #333333;
  color: #E9996E !important;
}

.is-active > button#who:after, .is-active > button#whoMobile:after{
  content:'am I?' ;
}

/* What Button */

#what:hover, #whatMobile:hover{
  color: #6ECFE9 !important;
}

.is-active > button#what, .is-active > button#whatMobile{
  background-color: #333333;
  color: #6ECFE9 !important;
}

.is-active > button#what:after, .is-active > button#whatMobile:after{
  content:'do I do?';
}

/* Why Button */

#why:hover, #whyMobile:hover{
  color: #6EE9B5 !important;
}

.is-active > button#why, .is-active > button#whyMobile{
  background-color: #333333;
  color: #6EE9B5 !important;
}

.is-active > button#why:after, .is-active > button#whyMobile:after{
  content:'?';
}
/* FOOTER */
#footer{
  margin-top: 20px;
  text-align: right;
  color: #c6c6c6;
  font-size: 15px;
  line-height: normal;
}

/*////  MOBILE  ////*/

#AppMobile{
  text-align: center;
  margin: 0 !important;
  max-width: 400px;
  min-width: 400px;
}

/* HEADER */

#mobileIconL, #mobileIconG, #mobileIconE{
  height: 25px;
}

/* FOOTER */

#mobileFooter{
  font-size: 12px;
  color: #c6c6c6;
}

#whoMobile, #whatMobile, #whyMobile{
  height: 25px !important;
  width: 90px !important;
  font-size: 12px !important;
  text-align: center !important;
  padding: 0 !important;
}

#whoMobile{
  border-radius: 5px !important;
}


#hdrMobile{
  text-align: left;
  width: 50%;
  margin-bottom: -35px;
  font-size: 10px !important;
}

#mobileHdr{
  font-size: 26px !important;
  margin-left: 30px;
  line-height: 40px;
}

#iconsMobile{
  margin-top: 18px;
  width: 50%;
}
